.custom-loading-dialog .MuiDialog-container .MuiDialog-paper {
    background: none !important;
    box-shadow: none !important;
}

.react-datepicker__input-container input {
    width: 100% !important;
}

.react-datepicker-wrapper {
    width: 100% !important;
}